body {
	background-color: #000;
}

div.centerit {
	width: 0px;
	margin: 20px auto 10px;
}

canvas {
	background-color: #FFF;
	margin: 25px;
	width: 700px;
	height: 500px;
}

h2 {
	font-size: 3em;
	text-align: center;
	color: white;
	margin: auto;
	font-family: Courier, monospace, serif;
}

span#caution {
	font-weight: bold;
	color: red;
}

div#instructionsLeft {
	float: left;
	overflow: hidden;
	width: 225px;
	color: #FFF;
	margin-right: 5px;
}

div#instructionsRight {
	float: right;
	overflow: hidden;
	width: 225px;
	color: #FFF;
	margin-left: 5px;
}

p, h3, h4, label {
	font-family: Helvetica, sans-serif;
}

h4 {
	color: #09FF00;
}

h3 {
	text-align: center;
}

div#canvas {
	background-color: #666;
	width: 750px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

section.accordianVertical {
	width: 225px;
	margin: 10px auto;

}

section.accordianVertical label {
	padding: 5px 20px;
	position: relative;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #09FF00;
	line-height: 33px;
	border: 1px solid white;
	border-radius: 15px;
}

section.accordianVertical label:hover {
	background: #666;
}

section.accordianVertical input + label {
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

section.accordianVertical input:checked + label,
section.accordianVertical input:checked + label:hover {
	background: #999;
	color: #09FF00;
}

section.accordianVertical input  {
	display: none;
}

section.accordianVertical div.accordianDrop {
	background: #999;
	width: 195px;
	margin-left: 15px;
	overflow: hidden;
	height: 0px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

section.accordianVertical div.accordianDrop p {
	color: #09FF00;
	font-size: 14px;
	padding: 10px; 
}

section.accordianVertical input:checked ~ div.accordianDrop {
	height: 85px;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;	
}

span#Cezz {
	animation-name: swapcolors;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;

	/* Safari and Chrome*/
	-webkit-animation-name: swapcolors;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
}

span#Ball {
	animation-name: swapcolors;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;

	/* Safari and Chrome*/
	-webkit-animation-name: swapcolors;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
}

@keyframes swapcolors {
	0%		{color: red;}
	100%	{color: white;}
}

@-webkit-keyframes swapcolors {
	0%		{color: red;}
	100%	{color: white;}
}